# Сборочные директории, которые генерируются автоматически
build/
devel/
install/

# Логи и временные файлы ROS
log/

# Игнорирование временных файлов редакторов
*~
*.swp
*.swo

# Файлы кэширования Python
*.pyc
__pycache__/

# Специфичные файлы рабочего окружения
.catkin_workspace

.vscode/
